<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leaveHub.mapper.AdminMapper">
    <resultMap id="leaveWithUserMap" type="LeaveRequestVO">
        <id property="leaveId" column="leave_id"/>
        <result property="userId" column="user_id"/>
        <result property="leaveType" column="leave_type"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="reason" column="reason"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="rejectReason" column="reject_reason"/>
        <result property="status" column="status"/> 
        <result property="createdAt" column="created_at"/>
        <association property="userVO" javaType="UserVO">
            <result property="userName" column="user_name"/> 
        </association>
    </resultMap>

     <sql id="leaveBaseSql">
        SELECT 
            req.leave_id,
            req.user_id,
            u.user_name,
            req.leave_type,
            req.start_date,
            req.end_date,
            req.reason,
            req.reject_reason,
            req.status,
            req.created_at,
            req.updated_at
        FROM leave_request req
        INNER JOIN users u ON req.user_id = u.user_id
    </sql>

    <select id="isAdmin" parameterType="string" resultType="int">
        SELECT CASE 
                WHEN EXISTS (
                    SELECT 1 FROM users 
                    WHERE role = 'ADMIN' 
                    AND user_id = #{userId}
                ) THEN 1 
                ELSE 0 
            END
        FROM dual
    </select>

    <select id="getAllLeaveRequests" parameterType="map" resultMap="leaveWithUserMap">
        <include refid="leaveBaseSql"/>
        <where>
            <if test="status != null and status != ''">
            AND req.status = #{status}
            </if>
        </where>
        ORDER BY req.created_at DESC

        <if test="limit != null and offset != null">
            OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
        </if>
    </select>

    <select id="getLeaveStatusCounts" resultType="int">
        SELECT COUNT(*) 
        FROM leave_request
        <where>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
    </select>

    <update id="approveLeaveRequest" parameterType="long">
        UPDATE leave_request
        SET status = 'APPROVED', updated_at = SYSDATE
        <where>
            leave_id = #{leaveId} AND status = 'PENDING'
        </where>
    </update>

    <update id="rejectLeaveRequest" parameterType="map">
        UPDATE leave_request
        SET status = 'REJECTED', updated_at = SYSDATE , reject_reason = #{rejectReason}
        <where>
            leave_id = #{leaveId} AND status = 'PENDING'
        </where>
    </update>

</mapper>