<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leaveHub.mapper.LeaveRequestMapper">
    <insert id="insertLeaveRequest" parameterType="com.example.leaveHub.vo.LeaveRequestVO">
        INSERT INTO leave_request
        (
            user_id,
            leave_type, 
            start_date, 
            end_date, 
            reason, 
            status
        )
        VALUES 
        (
            #{userId}, 
            #{leaveType},
            #{startDate},
            #{endDate}, 
            #{reason}, 
            #{status}
        )
    </insert>

    <select id="getLeaveRequestCount" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM leave_request
        <where>
            user_id = #{userId}
        </where>
    </select>
    
    <select id="getLeaveRequestsByUserId" parameterType="map" resultType="com.example.leaveHub.vo.LeaveRequestVO">
        SELECT 
            leave_id,
            user_id,
            leave_type,
            start_date,
            end_date,
            reason,
            status,
            created_at,
            updated_at
        FROM leave_request
        <where>
            user_id = #{userId}
        </where>
        ORDER BY created_at DESC
        <if test="limit != null and offset != null">
            OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
        </if>
    </select>

    <update id="updateLeaveRequest">
        UPDATE leave_request
        SET 
            leave_type = #{vo.leaveType},
            start_date = #{vo.startDate},
            end_date = #{vo.endDate},
            reason = #{vo.reason},
            updated_at = SYSDATE
        <where> 
            leave_id = #{vo.leaveId} 
            AND user_id = #{userId} 
            AND status = 'PENDING'
        </where>
    </update>

    <delete id="deleteLeaveRequest" parameterType="long">
        DELETE FROM leave_request
        <where>
            leave_id = #{leaveId} 
            AND status = 'PENDING'
        </where>
    </delete>


</mapper>