<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leaveHub.mapper.UserMapper">
<select id="login" parameterType="map" resultType="com.example.leaveHub.vo.UserVO">
    SELECT user_id,
           user_name,
           password,
           role,
           created_at,
           enabled
    FROM users
    WHERE user_id = #{userId}
      AND password = #{password}
</select>
<insert id= "register" parameterType="com.example.leaveHub.vo.UserVO" >
   INSERT INTO users
   (
       user_id,
       user_name,
       password,
       role,
       created_at,
       enabled
   )
   VALUES
   (
       #{userId},
       #{userName},
       #{password},
       'USER',
       SYSDATE,
       #{enabled}
   )
</insert>
<select id="existsByUserId" parameterType="String" resultType="int">
    SELECT COUNT(*)
    FROM users
    WHERE user_id = #{userId}
</select>
<update id="updateUser">
    UPDATE users
    SET user_name = #{userName},
        password  = #{password},
        updated_at = SYSDATE
    WHERE user_id = #{userId}
</update>
<update id="deleteUser" parameterType="String">
    UPDATE users
    SET deleted_at = SYSDATE
    <where>
        user_id = #{userId}
    </where>
</update>
<select id="getUserById" parameterType="String" resultType="com.example.leaveHub.vo.UserVO">
    SELECT user_id,
           user_name,
           password,
           role
    FROM users
    <where>
        user_id = #{userId}
    </where>
</select>
</mapper>